header div {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/wall.png);
    background-size: contain;
}

header div h1 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-weight: bold;
    font-size: 80px;
}

main {
    background-image: url(../img/cork.png);
    background-size: contain;
    height: 100%;

}

main .container .row .col-sl-12 {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

main .container .row .col-sl-12 div {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main .container .row .col-sl-12 div .image {
    height: 300px;
    width: 300px;
    padding: 20px;
}

main .container .row .col-sl-12 div h5 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-weight: lighter;
    padding: 5px 20px;
}

main .container .row .col-sl-12 div h6 {
    font-family: "Sometype Mono", ‘monospace’;
    ;
}

main .container .row .col-sl-12 div .pin {
    position: absolute;
    top: -18px;
}

main .container .row .col-sl-12 div:hover {
    transform: rotate(10deg) scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

main .preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    gap: 30px;
}

main .preview-container img {
    width: 60vh;
}